body{
  background-color: #1489cc2c;
  font-family: 'Otomanopee One', sans-serif;
}
form {
  font-family: 'Overpass', sans-serif;
}

h1.title{
  font-family: 'Fredoka One', cursive;
  color: #1488cc;
}
span.word{
  float: right;
}
div.container.nav{
  margin: auto;
  align-items: center;
}

div.container.nav a{
  text-align: center;
  background-color: transparent;
  border: none;
  color: black;
  padding: 0px;
  text-decoration: none;
  font-size: 12px;
  padding: 8px;
  margin-left: 4px;
 
}
div.container.nav a:hover{
  color: #1488cc;
  background-color: #f8f9fa;
  border-radius: 3px;
}

.wrap{
  background-color: #fff;
}
ul li{
  list-style: none;
}
/* 下拉選單 */
ul.dropdown-menu.show {
  padding: 0px !important;
  margin: 0px  !important;
}
a.dropdown-item{
  padding: 5px !important; 
  margin: 0 !important;
}


/* header navbar */
.logoutBtn{
  font-size: 10px;
  background-color: #1488cc;
  border: 1px solid #1488cc;
  color: #fff;
  border-radius: 3px;
}
.logoutBtn:hover{
  background-color: #fff;
  color:  #1488cc;
}
.printBtn{
  border: 1px solid #1489ccab;
  font-size: 10px;
  background-color: #fff ;
  color: #1488cc;
}
.printBtn:hover{
  background-color:#1488cc ;
  border: none;
  color:  #fff;
}
.t{
  border-bottom: 4px double #1488cc;

}
.btn-group{
  float: right;
}
table tr th {
  font-size: 14px;
}

.titleString{
  position:relative;
  font-family: 'Noto Sans JP', sans-serif;
 

}
.color01{
  top: 10px;
  left: 10px;
  position: absolute;
  display: inline-block;
  width: 70px;
  height: 40px;
  background-color: #1489cc38;
  clip-path: polygon(100% 23%, 100% 50%, 24% 100%, 0 48%);
}
.form-btns td{
  border:none;
}
.basicBtn{
  font-size: 12px;
  background-color:#1488cc ;
  border: none;
  color:  #fff;
}
.addBtn{
  float: left;
}
.memberinfo{
border-bottom: 3px double #139be95b ;
 
}
.memberinfo-btn{
 justify-content: end;
}
.btn{
  padding: 4px;
  margin: 0;
}
.form-btns{
  position: relative;
}
.btn-group{
  position: absolute;
  right: 0%;
  
}
.checkBtn{
  background-color: #e35d5b;
}

a.nav-link{
display: block !important;
padding: 0 10px;
}
.nav-item{
  padding: 5px;
}

.gitlink,.demolink{
  font-size: 10px;
}

.cover{
  object-fit: cover;
  object-position: top center ;
}
.contain{
  object-fit: contain;
  object-position: center center ;
}
/* 
#fa949288
#e35d5b
#e53935 
#1488cc
#2b32b2 */